* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.predator {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 10px;
}

.container {
  opacity: 1;
  transition: 1s opacity;
}

.container.fade-out {
  opacity: 0;
  transition: none;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-loader {
  height: 100vh;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@font-face {
  font-family: orbitron;
  src: url(./orbitron-light-webfont.woff);
}

@font-face {
  font-family: earthorbiter;
  src: url(./earthorbiter.ttf);
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(circle, #000000, #808080, #000000);
  width: 100%;
  z-index: 10;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #aeb6bf;
  height: 70px;
}

/* Text with gradient */
.header-container h1 {
  font-family: 'earthorbiter';
  background: -webkit-linear-gradient(#aeb6bf, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marquee {
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin-right: 1.7rem;
  margin-left: 1.7rem;
  background: rgba(51, 51, 51, 0.75);
  border-radius: 3px;
  height: 3rem;
}

.marquee p {
  color: #f6690c;
  font-family: 'arial';
  font-size: 1.2rem;
}

.controller {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

audio::-webkit-media-controls-panel {
  background-color: #f6690c;
}

.flex-item-container-news {
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  margin: 1rem;
}

.grid-item-news {
  margin-left: 1rem;
  margin-right: 1rem;
  background: rgba(51, 51, 51, 0.75);
  border-radius: 3px;
  color: #56f700;
  font-family: 'Sans-serif';
  padding: 1rem;
  height: auto;
  border: 1px solid #f6690c;
  /* height: 35rem; */
  /* overflow: hidden; */
}
.grid-item-container-news p {
  max-width: 250px;
  overflow-wrap: break-word;
}
.grid-container-news {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-gap: 1rem;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 5px;
  width: 100%;
}
