* {
    margin: 0;
padding: 0;

}

.body {
    /* you can use a more complete font-family from VSCode as well */
    font-family: monospace;
    font-size: 17px;
    color: AntiqueWhite;
    line-height: 1.6;
    font-size: 20px;
}

#showcase {

    /* background-image: url("./water.jpg"); */
    background-color: grey;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
}

#showcase p {
    font-size: 20px;
    line-height: 5;
}

.topdiv {
    display: flex;
flex-direction: row;
justify-content: center;
font-variant: small-caps;
display: flex;

background-color: #926239;
color: black;
text-align: center;
height: 5vh
}

.nameText {
padding: 0.25em;
font-weight: bold;
font-size: 16px;
height: 1.5em;
justify-content: center;
background-color:AntiqueWhite;
width: 200px;
}

.errorText{
    margin-top: 5px;
     color: orangered;
     background-color: lightgrey;  
     font-weight:bold;                              
    }

    .radioButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
    
    }
    
    .theBoxes {
    
        display: inline-block;
        height: 38px;
        padding: 0 30px;
        color: #555;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 4px;
        border: 1px solid #bbb;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .theButtons {
        display: inline-block;
        height: 38px;
        padding: 0 30px;
        color: #555;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 4px;
        border: 1px solid #bbb;
        cursor: pointer;
        box-sizing: border-box;
    }
    

.header {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 1em;
  text-align: center; 
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-b {

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-variant: small-caps;
    display: flex;
  
    background-color: AntiqueWhite;
    color: black;
    text-align: center;
    height: 5vh
}

.clearfix {
    overflow: auto;
    zoom: 1;
  }

  .content {
    padding: 1em;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
   
  }
  
  @media only screen and (min-width: 45em) {  /* 720px */
  
     
    }